@import "_mixins";

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex !important;

    &-jc-sb {
    justify-content: space-between;
}

    &-jc-c {
    justify-content: center;
}

    &-ai-c{
    align-items: center;
}
    &-dir-row{
        flex-direction: row;
    }
    &-dir-col{
        flex-direction: column;
    }

}


.font-bold{
    font-weight: bolder !important;
}

a, a:visited, a:hover {
    text-decoration: none;
}
li{
    list-style-type: none;
}

.hide-for-mobile {
    @include breakpoint-down()
}

.hide-for-desktop {
    @include breakpoint-up()
}